 <!DOCTYPE html>
<html>
<head>
  <title>Bodhi Tree Position Management System</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="no-scroll">

  <div class="app layout-fixed-header">

    <!-- sidebar panel -->
    <div class="sidebar-panel offscreen-left">

      <div class="brand">

        <!-- logo -->
        <div class="brand-logo">
          <%= image_tag 'bodhi-light.png', height: 15, alt: 'Bodhi Tree Brand' %>
        </div>
        <!-- /logo -->

        <!-- toggle small sidebar menu -->
        <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
        <!-- /toggle small sidebar menu -->

      </div>

      <!-- main navigation -->
      <nav role="navigation">

        <ul class="nav">
          <li>
            <a href="#">
              <i class="fa fa-bars"></i>
              <span>Positions</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-balance-scale"></i>
              <span>Strategy Manager</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-line-chart"></i>
              <span>Reports</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /main navigation -->

    </div>
    <!-- /sidebar panel -->

    <!-- content panel -->
    <div class="main-panel">

      <!-- top header -->
      <header class="header navbar">

        <div class="brand visible-xs">
          <!-- toggle offscreen menu -->
          <div class="toggle-offscreen">
            <a href="#" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <!-- /toggle offscreen menu -->

          <!-- logo -->
          <div class="brand-logo">
            <img src="" height="15" alt="">
          </div>
          <!-- /logo -->

          <!-- toggle chat sidebar small screen-->
          <div class="toggle-chat">
            <a href="javascript:;" class="hamburger-icon v2 visible-xs" data-toggle="layout-chat-open">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <!-- /toggle chat sidebar small screen-->
        </div>

        <ul id="spin" class="nav navbar-nav hidden-xs">
          <li>
            <p class="navbar-text"><%= @title %></p>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">

          <li>
            <a href="javascript:;" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <div class="status bg-danger border-danger animated bounce"></div>
            </a>
            <ul class="dropdown-menu notifications">
              <li class="notifications-header">
                <p class="text-muted small">You have 3 new messages</p>
              </li>
              <li>
                <ul class="notifications-list">
                  <li>
                    <a href="javascript:;">
                      <span class="pull-left mt2 mr15">
                        <img src="" class="avatar avatar-xs img-circle" alt="">
                      </span>
                      <div class="overflow-hidden">
                        <span>Sean launched a new application</span>
                        <span class="time">2 seconds ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="pull-left mt2 mr15">
                        <div class="circle-icon bg-danger">
                          <i class="fa fa-chain-broken"></i>
                        </div>
                      </div>
                      <div class="overflow-hidden">
                        <span>Removed chrome from app list</span>
                        <span class="time">4 Hours ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="pull-left mt2 mr15"><img src="" class="avatar avatar-xs img-circle" alt=""></span>
                      <div class="overflow-hidden">
                        <span class="text-muted">Jack Hunt has registered</span>
                        <span class="time">9 hours ago</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="notifications-footer">
                <a href="javascript:;">See all messages</a>
              </li>
            </ul>
          </li>

          <li>
            <%# <%= react_component('UserStatus', {user: current_user}) %1> %>
          </li>

          <li>
            <a href="javascript:;" class="hamburger-icon v2" data-toggle="layout-chat-open">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </li>
        </ul>
      </header>
      <!-- /top header -->

      <%= yield %>


    </div>
    <!-- /content panel -->

    <!-- bottom footer -->
    <footer class="content-footer">

      <nav class="footer-right">
        <ul class="nav">
          <li>
            <a href="javascript:;">Feedback</a>
          </li>
          <li>
            <a href="javascript:;" class="scroll-up">
              <i class="fa fa-angle-up"></i>
            </a>
          </li>
        </ul>
      </nav>

      <nav class="footer-left">
        <ul class="nav">
          <li>
            <a href="javascript:;">Copyright <i class="fa fa-copyright"></i> <span>Bodhi Tree Capital Management</span> <%= Date.today.year %>. All rights reserved</a>
          </li>
        </ul>
      </nav>

    </footer>
    <!-- /bottom footer -->
  </div>

  <%= javascript_include_tag 'application' %>

</body>
</html>

